body{
	background-color: #FFFFFF;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif ;
	font-weight: 200;
}

.logoClass {
	display: block;
	width: 13%;
	margin:0 auto;

}

h1{
	
	text-align: center;

}

ul{
	text-align: center;
	margin: 0 auto;
	padding: 0;
}



li{

	width: 24%;
	list-style: none;
	display: inline-block;

	}

li a{

	font-style: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-weight: bold;
	text-decoration: none;

}

li a:hover{

	background-color: #000000;
	color: #FFFFFF;

}





